{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
  },
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "globals": {
    "React": true,
  }
}
